@page "/"
@using System.Text

<PageTitle>Redit</PageTitle>

@if (!hasUsername)
{
    <div>
        <label for="name">Enter author name</label>
        <InputText id="name" @bind-Value="@Username" @oninput="OnAuthorNameChange"></InputText>
        <button @onclick="HandleAuthorName">Confirm</button>
        <span style="color: red">@nameErrMes</span>
    </div>
} else
{
    <h1>@Username</h1>
}


@code{
    string? Username;
    string? nameErrMes;
    bool hasUsername = false;

    private void HandleAuthorName()
    {
        if (string.IsNullOrWhiteSpace(Username))
        {
            nameErrMes = "Username is required";
            Username = "";
        }
        else
        {
            StringBuilder accName = new StringBuilder();
            
            for (int i = 0; i < Username.Length; i++)
            {
                if (Username[i] != ' ')
                    accName.Append(Username[i]);
            }

            Username = accName.ToString();
            hasUsername = true;
        }
        StateHasChanged();
    }

    private void OnAuthorNameChange(ChangeEventArgs e)
    {
        nameErrMes = "";
        StateHasChanged();
    }
}