@using Core
@inherits LayoutComponentBase
@inject UserState UserState
@inject NavigationManager Nav

<div class="reddit-layout">
    <header class="reddit-header">
        <div @onclick="GoHome" class="logo">Redit</div>
        <input class="search" placeholder="Search Redit">
        <div class="header-actions">
            <span>@UserState.Username</span>
        </div>
    </header>

    <div class="reddit-body">
        @Body
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }

    private void GoHome()
    {
        Nav.NavigateTo("/");
    }
}