@using Core
@inherits LayoutComponentBase
@inject UserState UserState
@inject NavigationManager Nav
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div class="reddit-layout">
    <header class="reddit-header">
        <div @onclick="GoHome" class="logo">Redit</div>
        <input class="search" placeholder="Search Redit">
        <div class="header-actions">
            <button class="buttons" @onclick="GoNewPost">Create post <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z"/></svg></button>
            <button class="buttons" @onclick="ChangeName">Change name</button>
            <span>Current Author name: <b>@UserState.Username</b></span>
        </div>
    </header>

    <div class="reddit-body">
        @Body
    </div>
</div>

@code {

    private async void ChangeName()
    {
        await LocalStorage.ClearAsync();
        UserState.Username = "";
        UserState.NotifyStateChanged();
    }
    
    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }

    private void GoHome()
    {
        Nav.NavigateTo("/");
    }

    private void GoNewPost()
    {
        Nav.NavigateTo("/newpost");
    }
}